.messages {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 16px;
  width: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
}

.message,
.reply {
  padding: 4px 8px;
  margin: 8px 0;
  border-radius: 12px;
  width: fit-content;
  max-width: 320px;
  text-align: left;

  animation: scale 0.3s ease-in-out;
}

.message {
  background: #646cff;
  border-bottom-right-radius: 0;
  align-self: end;
  transform-origin: bottom right;
}

.reply {
  background: #525252;
  border-top-left-radius: 0;
  align-self: start;
  transform-origin: top left;
}

.dummy {
  visibility: hidden;
  margin-bottom: 16px;
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
